:root {
    --primary-color: rgb(244, 230, 177);
    --primary-font: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

.offer {
    background-color: rgb(14, 99, 14);
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}

.offer>h1 {
    font-size: 22px;
    text-align: center;
    color: white;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px 20px;
    align-items: center;
    background-color: white;

}

.links {
    display: flex;
    gap: clamp(10px, 2vw, 50px);
    font-weight: 400;

}

.links a {
    text-decoration: none;
    color: black;
    font-size: clamp(10px, 4vw, 20px);

}

.links>a:hover,
.links>a:first-child {
    color: greenyellow;
}

.icons {
    display: flex;
    gap: 18px;
    align-items: center;

}

.circle-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.circle-icons>span {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icons-text {
    font-weight: bold;
}

.bg1 {
    background-color: rgb(183, 239, 255);
}

.bg2 {
    background-color: rgb(248, 209, 209);
}

.bg3 {
    background-color: rgb(236, 255, 185);
}

.bg4 {
    background-color: rgb(255, 243, 183);
}

.bg5 {
    background-color: rgb(183, 255, 207);
}

.slider {
    width: 100%;
    height: auto;
    position: relative;
}

.slides {
    height: 100%;
    width: 100%;



}

.slides>img {
    width: 100%;
    display: none;

}

.active {
    display: block !important;
}

button {
    position: absolute;
    background-color: white;
    top: 45%;
    height: 60px;
    width: 60px;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

.slider:hover #prev:nth-child(2) {
    left: 50px;
}

.slider:hover #next:last-child {
    right: 50px;
}

.banner {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 50px 30px;
    background-color: rgb(255, 255, 255);
    height: 350px;
    gap: 10px;
}

.col1 {
    flex: 0.9;
    padding: 20px;
    box-sizing: border-box;
    background-image: url("../Aachar\ gali/b1.webp");
    background-position: left;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
}

.col1:hover {
    background-position: right;
}

.col2 {
    flex: 0.8;
}

.col3 {
    flex: 1.2;
    padding: 20px;
    box-sizing: border-box;
    background-image: url("../Aachar\ gali/b2.webp");
    background-position: left;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
}

.heading {
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: 400;
    color: red;
    font-size: 18px;
}

.col1 p {
    margin-top: 50px;
    font-family: var(--primary-font);
    font-size: 22px;
    font-weight: bold;

}

.shop-now {
    background-color: rgb(54, 134, 68);
    margin-top: 70px;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 22px;
    color: white;
    text-decoration: none;
    width: 85px;
    transition: all 0.5s ease-in-out;

}

.shop-now:hover {
    margin-top: 30;
}

.col1:hover .shop-now:last-child {
    margin-top: 30px;

}

.col3 p {
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: bold;

}

.col3:hover {
    background-position: right;
}

.col3:hover .shop-now:last-child {
    margin-top: 30px;
}

.product-header,
.product-container {
    margin: 20px 30px;
    display: flex;
    flex: 1;
    max-width: 100%;
    gap: 10px;
    

}

.product {
    max-width: 25%;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: rgb(248, 245, 247);
    gap: 10px;
    align-items: center;
    
    
}

.product img {
    height: 60%;
    width: auto; 
   
    max-width: 100%;
    display: block;
}

.details{
    margin-top: 1px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}
.rating{
    width: 90px;
    display: flex;
    flex: 1;
    gap: 1px;
    justify-content: center;
    
    
    
}

.rating svg{
    fill:yellow;
    width: 20px;
    height: 20px;
    stroke: yellow;
    
}

.product-title {
    padding: 5px 0 ;
    
}

.add-to-cart {
    margin-top: 5px;
    padding-top: 5px ;
    border-top: 2px solid ;
}